*{
  font-family: 'Poppins', sans-serif;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size:15px;
  min-height: 90vh;
  display: flex;
  flex-direction:  column;
}

a{
  color:black;
  text-decoration: none;
}
.show_score{
  margin:40px auto;
  width:90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.score{
  box-sizing: border-box;
  width:300px;
  padding:10px 0px;
  color:rgb(255, 97, 97);
  font-size: 15px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  border:0px solid rgba(255, 97, 97, 0.623);
  box-shadow: 0px 0px 10px 2px rgba(255, 97, 97, 0.418);
}

.welcomeName{
  color:rgb(255, 97, 97);
}

.val{
  font-size:30px;
  line-height: 1px;
  margin:0px;
}

.val pre{
  white-space: unset;
  margin: 10px;
}

.fa{
  width:100%;
  height: 100%;
  
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.navleft{
  font-size: 25px;
  width:80px;
  position: fixed;
  height: 100vh;
  top:0;
  left:0;
  box-shadow: 9px 6px 17px 2px rgba(0, 0, 0, 0.061);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.x{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width:100%;
  margin:12px auto;
}


.active_opt{
  box-sizing: border-box;
  color:rgb(255, 97, 97);
  font-size: 30px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 97, 97);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(253, 79, 79);
}

.active_opt::after{
  content: "";
  right:0px;
  height: 60px;
  width:6px;
  background:rgb(255, 97, 97);
  border-radius: 15px 0px 0px 15px;
}


.cont{
  margin-left: 100px;
}

.yes{
  margin:20px 0px;
  padding:15px 25px;
  border-radius: 7px;
  color:rgb(255, 97, 97);
  font-size: 15px;
  border:2px solid rgb(255, 97, 97);
  transition: 0.4s all ease;
  background: white;
}

.yes:hover{
  color:white;
  background:rgb(255, 97, 97);
  border:2px solid white;
}



.bottom_cont{
  width:90%;
  height: 150px;
  margin:20px auto;
  padding:20px 20px;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  align-items: center;
  justify-content: space-evenly;
}

.accepted_requested_cont{
  width:90%;
  margin:0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.accepted , .requested{
  width: 50%;
  margin: 10px auto;
}

.accepted_list , .requested_list{
  background: rgb(219, 219, 219);
  width: 90%;
  padding:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.each_sess , .sess_header , .message{
  padding: 10px;
  background: white;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}
.sess_header{
  flex-direction: column;
}
.each_sess{
  width:250px;
  min-height: 250px;
  flex-direction: column;
  margin:10px auto;
  border-radius: 7px;
  box-shadow: 9px 6px 17px 2px rgba(0,0,0,0.1);
}
.message{
  justify-content: flex-start;
  flex-direction: column;
}


button{
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
.staffName{
  font-family: 'Poppins', sans-serif;
  color:rgb(34, 34, 34);
}
.Timetable__table{
  min-width:90vw;
  background:white;
  overflow: hidden;
}

.staff{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:90%;
  background: white;
  box-shadow: 9px 6px 17px 2px rgba(0,0,0,0.1);
  border-radius: 20px;
  padding:10px;
  margin-top:15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.selectStaff{
  padding:10px 20px;
  border-radius: 50px;
  border-style: none;
  color:white;
  background: rgb(255, 97, 97);
  transition:0.4s all ease;
}
.selectStaff:hover{
  background: rgb(255, 142, 142);
}

.Timetable{
  border-radius: 7px;
  overflow: scroll;
  background: rgb(218, 218, 218);
  box-shadow: 9px 6px 17px 2px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.teacherName{
  width:80%;
  background: rgb(226, 226, 226);
  border-radius: 90px;
  height: 70px;
  margin:15px;
}
.Timetable__time{
  background: #1c3344;
  color:white;
  margin:0px;
  border:none;
}

.Timetable__time th{
  padding:20px 30px;
  font-weight: normal;
  width:70px;
}

.Timetable__room{
  background: #1c3344;
  color:white;
  font-weight: normal;
  padding:20px 30px;

}

.Allocation{
  background:#e4e4e4;
  text-align: center;
  color:rgb(42, 42, 42);
  border-style: none;
  width:100%;
  transition: 0.2s all ease-in-out;
  border:1px solid white;
  height: 90px;
}

.Allocation:hover{
  filter: grayscale(100%);
  color:rgb(27, 27, 27);
}




.lab{
  background: #3a8840;
}

.monday{
  background: rgb(255, 183, 102);
}

.tuesday{
  background: rgb(102, 255, 115);
}

.wednesday{
  background: rgb(102, 245, 255);
}

.thursday{
  background: rgb(102, 138, 255);
}

.friday{
  background: rgb(255, 102, 229);
}

.highlight{
  background: white;
  color:rgb(255, 67, 67);
  padding:5px 10px;
}

td{
  height: 90px;
}
.Timetable__time th{
  height: 50px;
}

.options{
  width:90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:0px auto;
}


@media (max-width: 1300px) {
  .accepted_requested_cont{
    flex-direction: column;
  }
  .requested , .accepted{
    width:90%;
  }
  .sess_header{
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .cont{
    margin-left: 0;
    margin-top: 60px;
  }
  .bottom_cont{
    flex-direction:  column;
    width:70%;
  }
  .sess_header{
    flex-direction: column;
  }
  .show_score{
    flex-direction: column;
    width:90%;
  }
  .score{
    margin:10px auto;
    width: 250px;
  }
  .navleft{
      width:100vw;
      height: 60px;
      top:0;
      left:0;
      font-size: 20px;
      flex-direction: row;
      background: white;
  }
  .active_opt::after{
      content: "";
      width: 0;
      height:0;
  }
  .Timetable{
      border-radius: 0px;
      overflow: scroll;
  }
  cont{
      margin-top: 70px;
      margin-left: 0;
      max-width: 95vw;
      overflow: auto;
  }
  .Timetable__table{
      overflow: scroll;
  }
  .Timetable{
      overflow: scroll;
  }
  .highlight{
      background: white;
      color:rgb(255, 67, 67);
      padding:2px 10px;
  } 
  .fotter_message{
      font-size: 12px;
      line-height: 30px;
  }
}