body{
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:black;
    text-decoration: none;
}
.fa{
    width:100%;
    height: 100%;
    
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.navleft{
    font-size: 25px;
    width:80px;
    position: fixed;
    height: 100vh;
    top:0;
    left:0;
    box-shadow: 9px 6px 17px 2px rgba(0, 0, 0, 0.061);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.x{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width:100%;
    margin:12px auto;
}

.active_opt{
    box-sizing: border-box;
    color:rgb(255, 97, 97);
    font-size: 30px;
}

.active_opt::after{
    content: "";
    right:0px;
    height: 60px;
    width:6px;
    background:rgb(255, 97, 97);
    border-radius: 15px 0px 0px 15px;
}


.cont{
    margin-left: 100px;
}


input{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.staffName{
    font-family: 'Poppins', sans-serif;
    color:rgb(34, 34, 34);
}
.Timetable__table{
    min-width:90vw;
    background:white;
    overflow: hidden;
}

.Timetable{
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 9px 6px 17px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teacherName{
    width:80%;
    background: rgb(226, 226, 226);
    border-radius: 90px;
    height: 70px;
    margin:15px;
}
.Timetable__time{
    background: #1c3344;
    color:white;
    margin:0px;
    border:none;
}

.Timetable__time th{
    padding:20px 30px;
    font-weight: normal;
    width:70px;
}

.Timetable__room{
    background: #1c3344;
    color:white;
    font-weight: normal;
    padding:20px 30px;

}

.Allocation{
    background:#e4e4e4;
    text-align: center;
    color:rgb(42, 42, 42);
    border-style: none;
    width:100%;
    transition: 0.2s all ease-in-out;
    height: 90px;
}

.Allocation:hover{
    filter: grayscale(100%);
    color:rgb(27, 27, 27);
}




.lab{
    background: #3a8840;
}

.monday{
    background: #3498db;
}

.tuesday{
    background: #27ae60;
}

.wednesday{
    background: #8e44ad;
}

.thursday{
    background: #16a085;
}

.friday{
    background: #e67e22;
}

.highlight{
    background: white;
    color:rgb(255, 67, 67);
    padding:5px 10px;
}

td{
    height: 90px;
}
.Timetable__time th{
    height: 50px;
}

@media (max-width: 479px) {
    .navleft{
        width:100vw;
        height: 60px;
        top:0;
        left:0;
        font-size: 20px;
        flex-direction: row;
        background: white;
    }
    .active_opt::after{
        content: "";
        width: 0;
        height:0;
    }
    .Timetable{
        border-radius: 0px;
        overflow: scroll;
    }
    .cont{
        margin-top: 70px;
        margin-left: 0;
        max-width: 95vw;
        overflow: auto;
    }
    .Timetable__table{
        overflow: scroll;
    }
    .Timetable{
        overflow: scroll;
    }
    .highlight{
        background: white;
        color:rgb(255, 67, 67);
        padding:2px 10px;
    } 
    .fotter_message{
        font-size: 12px;
        line-height: 30px;
    }
}