body{
    font-family: 'Rubik', sans-serif;
    font-size:15px;
    background: #E74C3C;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.staffName{
    color:rgb(34, 34, 34);
}
.Timetable__table{
    background:#ffffff;
}

.Timetable{
    border-radius: 7px;
    overflow: hidden;
}
.Timetable__time{
    background: #1c3344;
    color:white;
    margin:0px;
    border:none;
}

.Timetable__time th{
    padding:20px 30px;
    font-weight: normal;
    width:70px;
}

.Timetable__room{
    background: #1c3344;
    color:white;
    font-weight: normal;
    padding:20px 30px;

}

.Allocation{
    background:#e4e4e4;
    padding:19px 40px;
    text-align: center;
    color:rgb(42, 42, 42);
    border-style: none;
    width:100%;
    transition: 0.2s all ease-in-out;
}

.Allocation:hover{
    background: rgb(46, 46, 46);
    color:white;
}




.lab{
    background: #3a8840;
}

.monday{
    background: rgb(255, 183, 102);
}

.tuesday{
    background: rgb(102, 255, 115);
}

.wednesday{
    background: rgb(102, 245, 255);
}

.thursday{
    background: rgb(102, 138, 255);
}

.friday{
    background: rgb(255, 102, 229);
}

.highlight{
    background: white;
    color:rgb(255, 67, 67);
    padding:5px 10px;
}